.grid-clock {
    gap: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.clock {
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
}

.clock-label {
    top: 10%;
    left: 0;
    width: 100%;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
}

.hour-hand, .minute-hand, .second-hand {
    left: 50%;
    bottom: 50%;
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
    transform: translateX(-50%);
}

.hour-hand {
    width: 6px;
    height: 50px;
    background-color: rgb(51, 51, 51);
}

.minute-hand {
    width: 4px;
    height: 70px;
    background-color: rgb(85, 85, 85);
}

.second-hand {
    width: 2px;
    height: 80px;
    background-color: red;
}

.center-dot {
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    transform: translate(-50%, -50%);
}