* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    font-family: sans-serif;
}

.body-content {
    width: 100%;
    padding: 5rem;
}

.grid-container {
    gap: 1rem;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
}

.container {
    width: 100%;
    border-radius: 1rem;
    background-color: rgb(46, 46, 46);
}

.double, .centered {
    grid-column: span 2;
}

.centered {
    width: 50%;
    transform: translateX(50%);
}

.container-content {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.main {
    margin-bottom: 1rem;
}

.grid-header {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-header .info {
    color: rgb(90, 90, 90);
}

.submit-btn {
    width: 100%;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    background-color: #4A90E2;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.submit-btn.red {
    background-color: #d60000;
}

.submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
}
